@{
  Layout = "_Layout";
}

<body>
  <h1>Order Details: </h1>

  <h3>Vendor: @Model["vendor"].Name</h3>

  <p>Title: @Model["order"].Title</p>
  <p>Description: @Model["order"].Description</p>
  <p>Price: @Model["order"].Price</p>
  <p>Order Date: @Model["order"].Date</p>

  <a href='/vendors/@Model["vendor"].Id/orders/new' class="link-success">Add another order</a>
  <a href='/vendors' class="link-success">View all vendors</a>
</body>